.button {
    -fx-font: 16px "Calibri";
    -fx-background-color: #FFD39D;
}

.labelTitre {
    -fx-font: 25px "Calibri";
    -fx-font-weight: bold;
    /*-fx-text-fill: #e16512;*/
    -fx-text-fill: #461aac;
}

.labelHeur {
    -fx-font: 10px "Calibri";
    -fx-text-fill: grey;
}

.label {
    -fx-font: 15px "Calibri";
    /*-fx-text-fill: #461aac;*/
    -fx-font-weight: bold;
}