.button {
    -fx-font: 16px "Calibri";
    -fx-background-color: #FFD39D;
}

.labelTitre {
    -fx-font: 25px "Calibri";
    -fx-font-weight: bold;
    -fx-font-color: #e16512;
}

.labelHeur {
    -fx-font: 10px "Calibri";
    -fx-font-color: grey;
}

.label {
    -fx-font: 15px "Calibri";
    -fx-font-color: #461aac;
    -fx-font-weight: bold;
}